/* RegisterView.css - YouTube Dark Mode Theme */

body {
  background-color: #181818;
  color: #fff;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 2.5rem;
  color: #fff;
  margin-bottom: 20px;
  text-align: center;
}

.register-container {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 20px;
  justify-content: center;
  align-items: center;
}

.register-form-container {
  background-color: #202020;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  flex: 1;
  max-width: 500px;
  min-height: 1570px;  /* Ensures that form has a fixed minimum height */
}

form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

label {
  font-size: 14px;
  color: #ccc;
}

input {
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #333;
  color: #fff;
  font-size: 14px;
}

input:focus {
  outline: 2px solid #FF0000; /* YouTube Red outline */
}

.register {
  background-color: #FF0000; /* YouTube Red */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
}

.register:hover {
  background-color: #cc0000; /* Darker YouTube Red */
  transform: scale(1.05);
}

.google-register {
  background-color: white; /* YouTube Red */
  border: none;
  color: #444;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
}

.google-register:hover {
  background-color:#4285F4;
  color:#fff;
}

button:active {
  background-color: #b30000; /* Even darker YouTube Red */
  transform: scale(0.98);
}

.login-link {
  font-size: 14px;
  color: #ccc;
  text-align: center;
}

.login-link a {
  color: #FF0000;
}

.checklist {
  background-color: #202020;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  flex: 1;
  max-width: 500px;
  min-width: 300px;
  margin-bottom: 20px;
}

.checklist p {
  font-size: 16px;
  color: #ccc;
  margin-bottom: 20px;
}

.checklist div {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}

.checklist input[type="checkbox"] {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.checklist label {
  font-size: 14px;
  color: #ccc;
  cursor: pointer;
  transform: translateY(10px);
}

@media (max-width: 768px) {
  .register-container {
    gap: 20px;
  }

  .form-container {
    padding: 20px;
    max-width: 100%;
  }
}
